{% extends "index.html" %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">User Registration</h1>

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Register User</li>
    </ol>

    <form method="POST" action="/newUser" novalidate>

      <!-- Name input -->
      <div class="form-outline mb-2">
        <input type="text" id="name" name="name" class="form-control" required />
        <label class="form-label" for="name">Nama Anda</label>
      </div>

      <!-- Email input -->
      <div class="form-outline mb-2">
        <input type="email" id="email" name="email" class="form-control" required />
        <label class="form-label" for="email">Emel Anda</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-2">
        <input type="password" id="password" name="password" class="form-control" required />
        <label class="form-label" for="password">Kata Laluan</label>
      </div>

      <!-- Confirm password input -->
      <div class="form-outline mb-2">
        <input type="password" id="confirm" name="confirm" class="form-control" required />
        <label class="form-label" for="confirm">Ulang Kata Laluan</label>
      </div>

      <!-- Register button -->
      <button type="submit" class="btn btn-dark btn-block mb-2">Daftar</button>
    </form>
</div>
{% endblock %}
